*{
    box-sizing: border-box;
    font-family: cursive, sans-serif;
}

body{
    width: 80%;
    margin: 0 auto;
}

.flexContainerNav{
    display: flex;
    background-color: rgb(248, 161, 0);
    
}

.logo{
    width: 150px;
    height: 120px;
    mix-blend-mode: multiply;
}

.linkslist{
    margin: auto;
}

.navItem{
    flex: 1;
    
}

.linksContainer{
    display: flex;
    
}

.linkItem{
    flex: 1;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}


.flexContainerWhy{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}

.reasonWhy{
    width: 600px;
}

h3{
    text-decoration: underline;
    text-align: center;
}

.mainTitle{
    font-weight: 900;
    text-align: center;
    font-size: 2.5em;
}

.secondTitle{
    text-decoration: underline;
}

.listItemKort{
    text-align: center;
}

.bannerImage{
    text-align: center;
    width: 100%;
}

button{
    width: 70px;
    background-color: rgb(248, 161, 0);
    border: none;
    font-style: cursive, sans-serif;
    font-size: 16px;
}

form{
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.labelContainer{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 15px;
}

input[type=text],
input[type=email],
select{
    border: none;
    border-bottom: 2px solid black;
}

input[type=text]:focus,
input[type=email]:focus,
select:focus{
    outline: none;
}

textarea{
    margin-top: 15px;
    border: 2px solid black;
    margin-bottom: 15px;
}

#submitForm{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
